* { box-sizing: border-box; }
h1 { 
  margin: auto; align-content: center;
  color: aliceblue; 
  text-shadow: 5px 5px 10px mediumvioletred; 
  border: 5px solid darkblue; 
  background-color: darkgreen; 
  width: 450px; text-align: center; 
  letter-spacing: 3px; 
  font-family: "Calibri", cursive, serif; font-size: 300%;
  padding-bottom: 15px; padding-top: 15px; padding-right: 10px;
}
h2 { 
  width: 450px; text-align: left;
  color: aliceblue;
  font-size: 250%;
  border: 5px solid darkblue;
  text-shadow: 5px 5px 10px mediumvioletred;
  font-family: "Calibri", cursive, serif; 
  padding-bottom: 5px; padding-left: 10px; padding-top: 5px; padding-right: 10px;
  margin: 20px 0 0 50px;
  text-align: left;
  background-color: darkgreen;
}
h3 {
  width: 450px;
  font-family: 'Calibri', cursive, serif; 
  padding-bottom: 10px; padding-left: 10px; padding-top: 10px; padding-right: 10px;
  background-color: darkgreen; text-align: center;
  text-shadow: 5px 5px 10px mediumvioletred;
  margin: 20px 20px 0 43px;
  color: aliceblue;
  border: 5px solid darkblue;
}
h4 {
  width: 600px; margin: auto;
  color: aliceblue;
  border: 5px solid darkblue;
  background-color: darkgreen;
  text-shadow: 5px 5px 10px mediumvioletred;
  font-family: 'Calibri', cursive, serif; font-size: 125%;
  text-align: center;
  padding: 10px;
}
body {
  background-color: darkolivegreen; 
}
/* visited link */
a:visited {
  color: black;
}
/* mouse over link */
a:hover {
  color: white;
}
a {
  text-decoration: underline;
  padding-bottom: 20px;
  font-family: "Calibri", cursive, serif; font-weight: bolder;
}
p::first-letter {
  color: darkblue; font-size: 150%; font-family: 'Covered By Your Grace', cursive, serif;
}
p {
 font-family: "Calibri", cursive, serif; font-size: 500;
 margin: 20px 40px 20px 50px;
 text-align: left;
}

.fa {
  color: mediumvioletred;
}

ul
{
list-style-type: none;
}

img {
  border: 10px solid darkblue;
  width: 325px;
  margin: 50px 20px 0px 45px;
}

.Lucky_pg2 {
  width: 250px;
  float: left;
  margin: 5px 115px 25px 75px;
  background-color: aliceblue;
}

.Lily_pg2, .ptr_pg2, .duck_pg2, .predator_pg2, .sports_pg2 {
  width: 280pX;
  margin: 5px 10px 10px 50px;
}

.halloween_pg2 {
  float: left;
  width: 225px;
  margin: 10px 68px 50px 40px;
}
.float_left {
  margin: 0 30px 0 60px;
  width: 350px;
}
li { 
  color: blue; font-family: "Calibri", cursive, serif;
  margin: 60px 30px 0 10px;
}
blockquote {
  color: darkblue; border: 5px solid darkblue;
  font-family: 'Covered By Your Grace', cursive, serif; border-radius: 20px; font-size: 125%; font-weight: 300;
  width: 600px;
  margin: auto;
  padding-bottom: 5px; padding-left: 15px; padding-top: 5px; padding-right: 10px;
}
footer{
  color: darkblue;
  font-family: "Calibri", cursive, serif;
  padding-top: 50px; padding-bottom: 50px;
  margin: 10px;
}
address {
  margin: 50px; font-family: "Calibri", cursive, serif; font-weight: bolder;
}
nav {
  margin: 50px; font-family: "Calibri", cursive, serif;
}